h2{
    position: absolute;
     left: 100px;
     top: 150px;

}
h3{
     position: absolute;
     left: 100px;
     bottom: 150px;
}

h4{
     position: absolute;
     right: 100px;
     top: 150px;
     text-shadow: 3px 2px green;
}
p{
    position: absolute;
    right: 100px;
    bottom: 150px;
}
h1{
    position: absolute;
    right: 550px;
    bottom: 290px;
}
h1{
    text-align: center;
    letter-spacing: 10px;
}
img{
    position: absolute;
    left: opx;
    top: opx;
    z-index: -1;
}